$font-light: 300;
$font-normal: 400;
$font-medium: 600;
$font-bold: 900;

@font-face {
  font-family: "NexaText";
  font-weight: normal;
  src: local("NexaText"), url("../../assets/fonts/NexaText/Nexa-Regular.ttf");
}

@font-face {
  font-family: "NexaText";
  font-weight: bold;
  src: local("NexaText"), url("../../assets/fonts/NexaText/Nexa-Bold.ttf");
}

@font-face {
  font-family: "FiraSans";
  font-weight: $font-normal;
  src: local("FiraSans"), url("../../assets/fonts/FiraSans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "FiraSans";
  font-weight: $font-medium;
  src: local("FiraSans"), url("../../assets/fonts/FiraSans/FiraSans-Medium.ttf");
}

@font-face {
  font-family: "FiraSans";
  font-weight: $font-bold;
  src: local("FiraSans"), url("../../assets/fonts/FiraSans/FiraSans-SemiBold.ttf");
}

