@use 'mixins' as *;
@use 'sizings' as *;

/* height */
@include generate(h, height);
.h {
  &-0-5 {
    height: 0.25rem;
  }

  &-1-5 {
    height: 0.75rem;
  }

  &-3-5 {
    height: 1.75rem;
  }

  &-5-5 {
    height: 2.75rem;
  }
}

@include generate(mh, min-height);

/* width */
@include generate(w, width);
.w {

  &-0-5 {
    width: 0.25rem;
  }

  &-1-5 {
    width: 0.75rem;
  }

  &-3-5 {
    width: 1.75rem;
  }

  &-5-5 {
    width: 2.75rem;
  }
}
@include generate(mw, min-width);
@include generateResponsive(w-m, width, 0);
@include generateResponsive(w-d, width, $mobile-breakpoint);

/* top */
@include generate(top, top);

/* bottom */
@include generate(bottom, bottom);

/* left */
@include generate(left, left);

/* right */
@include generate(right, right);

/* margin */
@include generate(m, margin);
@include generateDouble(mx, margin-left, margin-right);
@include generateDouble(my, margin-top, margin-bottom);
@include generate(mt, margin-top);
@include generate(ml, margin-left);
@include generate(mr, margin-right);
@include generate(mb, margin-bottom);
.ml {

  &-0-5 {
    margin-left: 0.25rem;
  }
}

/* padding */
@include generate(p, padding);
@include generateDouble(px, padding-left, padding-right);
@include generateDouble(py, padding-top, padding-bottom);
@include generate(pt, padding-top);
@include generate(pl, padding-left);
@include generate(pr, padding-right);
@include generate(pb, padding-bottom);

/* translateY */
@include generateTransform(ty, translateY);

/* translateX */
@include generateTransform(tx, translateX);
