@use 'sizings' as *;

.full-width {
  width: 100%;
}

.mid-width {
  width: 50%;
}

.half-mid-width {
  width: 25%;
}

.max-width {

  &--60 {
    max-width: 60%;
  }

}

.scroll {

  &-x {
    overflow-x: auto;
    white-space: nowrap;

    * {
      white-space: normal;
    }

  }

}

.fit-content {
  width: fit-content;
}

.full-height {
  height: 100%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;

  &-column {
    display: flex;
    flex-direction: column;

    &--reverse {
      flex-direction: column-reverse;
    }
  }

  &-row {
    display: flex;
    flex-direction: row;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-justify {
    &-center {
      justify-content: center;
    }

    &-between {
      justify-content: space-between;
    }

    &-evenly {
      justify-content: space-evenly;
    }

    &-end {
      justify-content: flex-end;
    }
  }

  &-align-justify-center {
    justify-content: center;
    align-items: center;
  }

  &-align {
    &-center {
      align-items: center;
    }

    &-start {
      align-items: start;
    }

    &-end {
      align-items: end;
    }

    &-baseline {
      align-items: baseline;
    }
  }
}


.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  display: block;

  &--bottom {

  }
}

.z-index {
  &-1 {
    z-index: 1;
  }

  &-10 {
    z-index: 10;
  }

  &-100 {
    z-index: 100;
  }

  &-1000 {
    z-index: 1000;
  }

  &-10000 {
    z-index: 10000;
  }
}


/* mobile */

.mobile-container {
  min-width: 100%;
  max-width: $mobile-inner-width;

  @media (min-width: $mobile-inner-width) {
    margin: 0 auto;
    min-width: $mobile-inner-width;
  }

  &--desktop {
    @media (min-width: $mobile-breakpoint) {
      min-width: unset;
      max-width: 100%;
    }

    @media (min-width: $desktop-inner-width) {
      max-width: $desktop-inner-width - $navbar-panel-width;
    }
  }

  &--full-desktop {
    @media (min-width: $mobile-breakpoint) {
      min-width: 100%;
      max-width: 100%;
    }
  }

  &--stretch {
    max-width: $mobile-inner-stretch-width;

    @media (min-width: $mobile-inner-stretch-width) {
      margin: 0 auto;
      min-width: $mobile-inner-stretch-width;
    }
  }

  &--max {
    max-width: $mobile-breakpoint;
    margin: 0 auto;
  }

}
