<form [formGroup]="formGroup" class="flex w-full flex-column">
  <mat-form-field >
    <p class="mat-form-field-title font-hint">Nombre y apellidos</p>
    <input formControlName="name" matInput placeholder="Ej: Maria Garcia Correa">
    <mat-error>Este campo es requerido</mat-error>
  </mat-form-field>

  <mat-form-field >
    <p class="mat-form-field-title font-hint">E-mail</p>
    <input formControlName="email" matInput placeholder="Ej: mariagc@gmail.com">
    <mat-error>Este campo es requerido</mat-error>
    <mat-error>Formato de correo erroneo</mat-error>
  </mat-form-field>

  <mat-form-field >
    <p class="mat-form-field-title font-hint">Teléfono</p>
    <span matPrefix>+34</span>
    <input class="prefixed" formControlName="phone" matInput placeholder="Ej: Maria Garcia Correa">
    <mat-error>Este campo es requerido</mat-error>
  </mat-form-field>

  <mat-checkbox class="my-1" formControlName="terms">He leído y acepto la
    <a href="https://express.oxperta.com/aviso-legal?hsLang=es-es" target="_blank" class="underline">política de privacidad</a>
    <mat-error *ngIf="formGroup.touched && formGroup.controls.terms.invalid">Este campo es requerido</mat-error>
  </mat-checkbox>

  <mat-checkbox class="my-1" formControlName="publicity">Acepto recibir comunicaciones comerciales</mat-checkbox>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold my-5 py-2 px-4 rounded-full">Te contactamos</button>
</form>
