<div [ngClass]="viability !== operationViability.Impossible ? 'bg-green-100' : 'bg-red-100'" class="p-6 space-y-4">
    <div class="flex justify-between">
        <h1 [ngClass]="viability !== operationViability.Impossible ? 'text-green-500' : 'text-red-600'" class="text-2xl">Tu nueva cuota mensual</h1>
        <h1 [ngClass]="viability !== operationViability.Impossible ? 'text-green-500' : 'text-red-600'" class="text-2xl">{{monthly | number}} €</h1>
    </div>
    <div class="flex justify-between">
        <h1 [ngClass]="viability !== operationViability.Impossible ? 'text-green-500' : 'text-red-600'" class="text-2xl">Ahorro mensual</h1>
        <h1 [ngClass]="viability !== operationViability.Impossible ? 'text-green-500' : 'text-red-600'" class="text-2xl">{{total | number}} €</h1>
    </div>
    <div class="flex justify-between">
        <span class="text-red-600">Tu antigua cuota mensual:</span>
        <h1 class="text-red-600">{{oldMonthly | number}} €</h1>
    </div>
</div>
